* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    background-color: #242424;
}
nav {
    padding: 1rem 6rem;
    display: flex;
    justify-content: space-between;   
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 50px;
    height: auto;
    filter: contrast(200%);
}
.nav-list{
    display: flex;
    align-items: center;
    background-color: #383838;
    border-radius: 5px;
}
.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-item{
    padding: 1rem;
}
.dropdown{
    padding: 1rem;
}
.nav-link{
    text-decoration: none;
    font-size: 1.55rem;
    color:white;
    font-weight: 400;
}
.dropdown-link{
    text-decoration: none;
    font-size: 1.55rem;
    color:white;
    font-weight: 400;
}
.nav-link:hover{
    background-color: #292929;
    border-radius: 5px;
}
.dropdown-menu{
    border-radius: 5px;
    margin-top: 0.85rem;
    background-color: #383838;
    display: none;
    position: absolute;
}
.dropdown-menu a{
    padding: 5px;
    display: block;
}
.dropdown:hover .dropdown-menu{
    display: block;
} 
.login-button button{
    border: none;
    background-color: #000000;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 5px;
}
.login-button button a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
}
.login-button button:hover{
    background-color: white;
}
.login-button button a:hover{
    color:black;
}
.mobile-menu-icon{
    display: none;
}
.mobile-menu{
    display: none;
}
main {
    padding: 20px;
}
main h1 {
    font-size: 36px;
    margin-bottom: 30px;
}
table{
    background-color: #333;
    border-radius: 8px; 
    width: 50%;
    height: 50%;
}
table tr td {
    padding: 8px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 26px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #222;
    color: #fff;
}
form table tr td button{
    background-color: rgb(0, 0, 0);
    border: none;
    padding: 15px;
    width: 100%;
    border: 10px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    cursor: pointer;
}
form table tr td button:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
footer {
    background-color: #242424;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}
footer img {
    width: 50px;
    margin-bottom: 10px;
    filter: contrast(200%);
}
footer p {
    font-size: 16px;
}
@media screen and (max-width: 790px) {
    av{
        padding: 1rem 4rem;
    }
    .nav-list{
        display: none;
    }
    .login-button{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
        margin-top: 8px;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1.2rem;
    }
    .mobile-menu nav ul li{
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button{
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button{
        width: 100%;
    }
    .open{
        display: block;
    }
    .mobile-menu .dropdown-menu {
        display: none;
        background-color: #383838;
        position: relative;
        border-radius: 5px;
    }
    .mobile-menu .dropdown-menu a {
        display: block;
        padding: 5px;
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
    }    
    .mobile-menu .dropdown-menu a:hover {
        background-color: #292929;
        border-radius: 5px;
    }
    .nav-link:hover{
        background-color: #5f5f5f;
        border-radius: 5px;
    }
    .nav-link:hover{
        background-color: #5f5f5f;
        border-radius: 5px;
    }
    table{
        background-color: #333;
        border-radius: 8px; 
        width: 360px;
        height: 360px;
    }
}