@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family:'inter',sans-serif;
    background-color: #000;
    color: #fff;
}
header {
    background-color: #242424;
}
nav {
    padding: 1rem 6rem;
    display: flex;
    justify-content: space-between;   
}
.logo{
    display: flex;
    align-items: center;
    
}
.logo img{
    width: 50px;
    height: auto;
    filter: contrast(200%);
}
.nav-list{
    display: flex;
    align-items: center;
    background-color: #383838;
    border-radius: 5px;
}
.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-item{
    padding: 1rem;
}
.dropdown{
    padding: 1rem;
}
.nav-link{
    text-decoration: none;
    font-size: 1.55rem;
    color:white;
    font-weight: 400;
}
.dropdown-link{
    text-decoration: none;
    font-size: 1.55rem;
    color:white;
    font-weight: 400;
}
.dropdown-menu{
    border-radius: 5px;
    margin-top: 0.85rem;
    background-color: #383838;
    display: none;
    position: absolute;
}
.dropdown-menu a{
    padding: 5px;
    display: block;
}
.dropdown:hover .dropdown-menu{
    display: block;
} 
.nav-link:hover{
    background-color: #292929;
    border-radius: 5px;
}
.login-button button{
    border: none;
    background-color: #000000;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 5px;
}
.login-button button a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
}
.login-button button:hover{
    background-color: white;
}
.login-button button a:hover{
    color:black;
}
.mobile-menu-icon{
    display: none;
}
.mobile-menu{
    display: none;
}
main {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}
main h1 {
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 10px;
}
table {
    width: 100%;
    background-color: #242424;
    margin: 20px 0;
    border-radius: 8px;
}
.poster{
    width: 250px;
    height: auto;   
    transition: 0.6s;
}
.poster:hover {
    transform: scale(1.08);
    border-radius: 8px;
}
table h2 {
    font-size: 1.5rem;
    color: #ffffff;
    margin: 10px 0;
}
table p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 5px 0;
    color: #ffffff;
}
table td {
    padding: 15px;
    vertical-align: top;
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #242424;
    padding: 20px;
    margin-top: 2.5rem;
}
footer div{
    margin-left: 1rem;
}
footer div h1{
    margin-bottom: 1rem;
}
footer img {
    width: 70px;
    margin-bottom: 10px;
    filter: contrast(200%); 
    margin-right: 0.8rem; 
}
footer p {
    font-size: 1rem;
}
@media screen and (max-width: 790px) {
    nav{
        padding: 1rem 4rem;
    }
    .nav-list{
        display: none;
    }
    .login-button{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
        margin-top: 8px;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1.2rem;
    }
    .mobile-menu nav ul li{
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button{
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button{
        width: 100%;
    }
    .open{
        display: block;
    }
    .mobile-menu .dropdown-menu {
        display: none;
        background-color: #383838;
        position: relative;
        border-radius: 5px;
    }
    .mobile-menu .dropdown-menu a {
        display: block;
        padding: 5px;
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
    }    
    .mobile-menu .dropdown-menu a:hover {
        background-color: #292929;
        border-radius: 5px;
    }
    .nav-link:hover{
        background-color: #5f5f5f;
        border-radius: 5px;
    }
    main h1 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    table {
        width: 100%;
        gap: 10px;
    }
    table tr td {
        display: flex; 
        flex-direction: column; 
        align-items: center;
    }

    .poster{
        min-width: 265px;
        min-height: 375px; 
        margin: 0;
    }
}