@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family:'inter',sans-serif;
    background-color: #000;
    color: #fff;
}
header {
    background-color: #242424;
}
nav {
    padding: 1rem 6rem;
    display: flex;
    justify-content: space-between;   
}
.logo{
    display: flex;
    align-items: center;
    
}
.logo img{
    width: 50px;
    height: auto;
    filter: contrast(200%);
}
.nav-list{
    display: flex;
    align-items: center;
    background-color: #383838;
    border-radius: 5px;
}
.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-item{
    padding: 1rem;
}
.dropdown{
    padding: 1rem;
}
.nav-link{
    text-decoration: none;
    font-size: 1.55rem;
    color:white;
    font-weight: 400;
}
.dropdown-link{
    text-decoration: none;
    font-size: 1.55rem;
    color:white;
    font-weight: 400;
}
.dropdown-menu{
    border-radius: 5px;
    margin-top: 0.85rem;
    background-color: #383838;
    display: none;
    position: absolute;
}
.dropdown-menu a{
    padding: 5px;
    display: block;
}
.dropdown:hover .dropdown-menu{
    display: block;
} 
.nav-link:hover{
    background-color: #292929;
    border-radius: 5px;
}
.login-button button{
    border: none;
    background-color: #000000;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 5px;
}
.login-button button a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
}
.login-button button:hover{
    background-color: white;
}
.login-button button a:hover{
    color:black;
}
.mobile-menu-icon{
    display: none;
}
.mobile-menu{
    display: none;
}
main h1{
    text-align: center;
    margin-top: 100px;
}
main p{
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
}
main a{
    text-decoration: none;
    color: white;
}
main img{
    max-width: 100%;
    display: block;
}
.grid1 {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
    margin: 0 auto;
    grid-gap: 20px;
}
.grid1 > div:nth-child(n + 4){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}
.principal{
    grid-column: 1;
    grid-row:2/5;
    display: block;
}
.principal img{
    max-width: 300px;
}
.rolagem{
    max-width: 76.5%;
    background: #000;
    margin: 4rem auto 0 auto;
    border: solid 4px rgb(0, 0, 0);
    display: flex;
    padding: 1rem;
    overflow-x: auto;  
    -ms-overflow-style: none;  
    scrollbar-width: none;
}
.rolagem::-webkit-scrollbar {
    display: none;
}
.rolagem div img{
    max-width: 265px;
    max-height: 375px;
    background-color: transparent;
    border: 2px;
    margin-left: 2rem;
}
.rolagem div img{
    transition: 0.6s ;
}
.rolagem div img:hover{
    transform: scale(1.1);
    border-radius: 15px;
}
footer {
    background-color: #242424;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer img {
    width: 50px;
    margin-bottom: 10px;
    filter: contrast(200%);
}

footer p {
    font-size: 16px;
}
@media screen and (max-width: 730px) {
    nav{
        padding: 1rem 4rem;
    }
    .nav-list{
        display: none;
    }
    .login-button{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
        margin-top: 8px;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1.2rem;
    }
    .mobile-menu nav ul li{
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button{
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button{
        width: 100%;
    }
    .open{
        display: block;
    }
    .mobile-menu .dropdown-menu {
        display: none;
        background-color: #383838;
        position: relative;
        border-radius: 5px;
    }
    .mobile-menu .dropdown-menu a {
        display: block;
        padding: 5px;
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
    }    
    .mobile-menu .dropdown-menu a:hover {
        background-color: #292929;
        border-radius: 5px;
    }
    .nav-link:hover{
        background-color: #5f5f5f;
        border-radius: 5px;
    }
    main h1 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .destaque {
        display: flex;
        flex-direction: column; 
        align-items: center;
        width: 100%; 
        gap: 10px;
        padding: 10px; 
    }
    .imagem-destaque {
        width: 90%; 
    }
    .imagens-secundarias {
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap; 
        gap: 10px; 
        justify-content: center;
    }
    .imagem-secundaria img {
        width: auto; 
        height: auto;
    }
    .rolagem{
        min-width: 90%;
        background: #000;
        margin: 2rem auto 0 auto;
        display: flex;
        padding: 0.5rem;
        overflow-x: auto;  
        -ms-overflow-style: none;  
        scrollbar-width: none;
    }
    .rolagem::-webkit-scrollbar {
        display: none;
    }
    .rolagem div img{
        max-width: 10.28125rem;
        max-height: 14,71875rem;
        background-color: transparent;
        margin-left: 2rem;
    }
    .rolagem div img{
        transition: 0.6s ;
    }
    .rolagem div img:hover{
        transform: scale(1.1);
        border-radius: 15px;
    }
}