* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000;
    color: #fff;
}
header {
    background-color: #242424;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 50px;
    height: auto;
    margin-left: 20px;
}

nav {
    padding: 10px;
    margin-left: auto; 
    height: auto;
    max-width: 40%; 
    display: flex;
    overflow-y: hidden;
    overflow-x: auto; 
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

nav::-webkit-scrollbar {
    display: none; 
}

.menu {
    display: flex;
    list-style: none;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
}

.menu li {
    margin: 0 15px;
    white-space: nowrap; 
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1.25rem;
    padding: 10px;
}

.menu a:hover {
    background-color: #555;
    border-radius: 5px;
}
main {
    text-align: center;
    padding: 20px;
}
main h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}
main p {
    font-size: 1rem;
}
table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}
table td {
    padding: 10px;
}
table img {
    width: 100%;
    transition: 0.3s;
}
table img:hover {
    transform: scale(1.08);
    border-radius: 5%;
}
table .imagem{
    transition: 0.6s;
}
table .imagem:hover {
    transform: scale(1.5);
    border-radius: 10%;
}
#table{
    display: none;
}

section{
    max-width: 76.5%;
    background: #000;
    margin: 4rem auto 0 auto;
    border: solid 4px rgb(0, 0, 0);
    display: flex;
    padding: 1rem;
    overflow-x: auto;  
    -ms-overflow-style: none;  
    scrollbar-width: none;
}
section::-webkit-scrollbar {
    display: none;
}
section div img{
    max-width: 265px;
    max-height: 375px;
    background-color: transparent;
    border: 2px;
    margin-left: 2rem;
}
section div img{
    transition: 0.6s ;
}
section div img:hover{
    transform: scale(1.1);
    border-radius: 15px;
}
footer {
    background-color: #242424;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer img {
    width: 50px;
    margin-bottom: 10px;
}

footer p {
    font-size: 16px;
}
@media screen and (max-width: 1380px) {
    header {
        background-color: #242424;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    header img {
        width: 50px;
        height: auto;
        margin-left: 20px;
    }
    
    nav {
        margin-right: auto; 
        max-width: 80%; 
        display: flex;
        overflow-y: hidden;
        overflow-x: auto; 
        -ms-overflow-style: none; 
        scrollbar-width: none; 
    }
    
    nav::-webkit-scrollbar {
        display: none; 
    }
    
    .menu {
        display: flex;
        list-style: none;
        background-color: #333;
        padding: 10px 20px;
        border-radius: 5px;
    }
    
    .menu li {
        margin: 0 15px;
        white-space: nowrap; 
    }
    
    .menu a {
        color: #fff;
        text-decoration: none;
        font-size: 1.25rem;
        padding: 10px;
    }
    
    .menu a:hover {
        background-color: #555;
        border-radius: 5px;
    }
    
}
@media screen and (max-width: 760px) {
    header {
        background-color: #242424;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    header img {
        width: 50px;
        height: auto;
        margin-left: 20px;
    }
    
    nav {
        margin-left: auto; 
        height: 100%;
        max-width: 80%; 
        display: flex;
        justify-content: space-between;
        overflow-y: hidden;
        overflow-x: auto; 
        -ms-overflow-style: none; 
        scrollbar-width: none; 
    }
    
    nav::-webkit-scrollbar {
        display: none; 
    }
    
    .menu {
        list-style: none;
        background-color: #333;
        padding: 10px 20px;
        display: flex;
        border-radius: 5px;
    }
    
    .menu li {
        margin: 0 15px;
        white-space: nowrap; 
    }
    
    .menu a {
        color: #fff;
        text-decoration: none;
        font-size: 1.25rem;
        padding: 10px;
    }
    
    .menu a:hover {
        background-color: #555;
        border-radius: 5px;
    }
    main h1 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    table{
        width: 100%;
    }
    table .imagem {
        display: none; 
    } 
    table tr img {
        width: 100%; 
        margin: 0 auto;
        border-radius: 5px;
    }
    #table{
        display: block;
        align-content: center;
    }
    #table tr td{
        border-spacing:10px;
    }
    section{
        min-width: 90%;
        background: #000;
        margin: 2rem auto 0 auto;
        display: flex;
        padding: 0.5rem;
        overflow-x: auto;  
        -ms-overflow-style: none;  
        scrollbar-width: none;
    }
    section::-webkit-scrollbar {
        display: none;
    }
    section div img{
        max-width: 10.28125rem;
        max-height: 14,71875rem;
        background-color: transparent;
        margin-left: 2rem;
    }
    section div img{
        transition: 0.6s ;
    }
    section div img:hover{
        transform: scale(1.1);
        border-radius: 15px;
    }
}